@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Oswald:wght@400;500&display=swap');

:root {
    --bg-color: #f8f9fb;
    --color1: #ff8d01;
    --color2: #ffbf3d;
    --text-color: #200440;
    background-color: var(--bg-color)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Old Standard TT', sans-serif;
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    font-weight: 700;
    background-color: var(--color2);
    padding: 5rem 5rem 20rem 5rem;
}

a {
    text-decoration: none;
}

.container {
    width: 75%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 4rem;
    margin: auto;
    margin-top: -10rem;
    background-color: white;
    padding: 5rem;
    border-radius: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Oswald', sans-serif;
}

.desc {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
}

button {
    width: fit-content;
    height: 4rem;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    padding: 0 2rem;
    border: none;
    border-radius: 6px;
    background-color: var(--color1);
    color: white; 
}

footer {
    margin: auto;
    font-size: 1.75rem;
    text-align: center;
    padding: 4rem;
}

footer p {
    font-size: 1.5rem;
}

.dev {
    font-size: 1.75rem;
    color: var(--color1);
}



