@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap');

:root {
    --text1: 'Lato', sans-serif;
    --text2: 'Merriweather', sans-serif;
    --bg-color: #ececec;
    --color1: #ff8d01;
    --color2: #ffbf3d;
    --text-color: #200440;
    background-color: var(--bg-color)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: var(--text2);
    color: var(--text-color);
    line-height: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    font-weight: 700;
    background-color: var(--color2);
    padding: 5rem 5rem 20rem 5rem;
}

a {
    text-decoration: none;
}

i {
    font-size: 3rem;
    color: var(--color1);
    margin: 0 auto 2rem auto;
}

.container {
    width: 75%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 4rem;
    margin: auto;
    margin-top: -10rem;
    background-color: white;
    padding: 5rem;
    border-radius: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 4rem;
    font-family: var(--text1);
    font-size: 5rem;
    line-height: 5rem;
}

h2 {
    font-size: 3rem;
    margin-top: 2rem;
    line-height: 3rem;
}

.desc {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
    line-height: 3rem;
}

button {
    width: fit-content;
    height: 4rem;
    margin: 0 auto;
    font-family: var(--text1);
    font-size: 2rem;
    padding: 0 2rem;
    border: none;
    border-radius: 6px;
    background-color: var(--color1);
    color: white; 
}

button:hover {
    cursor: pointer;
}

#quiz-screen {
    padding-top: 3rem;
}

.count-down {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    font-weight: 700;
}

#answers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
    justify-content: space-between;
    margin: 7rem 0;
}

#answers .btn {
    margin: .65rem 0;
    width: 50rem;
    text-align: left;
}

footer {
    margin: auto;
    font-size: 1.75rem;
    text-align: center;
    padding: 4rem;
}

footer p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

#dev {
    font-size: 1.75rem;
    color: var(--color1);
}



